<div>
  <h1>PWB today is great! with the new data here</h1>
  <button class="button button-primary" (click)="subscribeToNotifications()">
    Subscribe
  </button>
  <button class="button button-secondary" (click)="UnSubscribeToNotifications()">
    Un-Subscribe
  </button>
  <button class="button button-secondary" (click)="SendInstructionNotifications()">
   SEND NOTIFICATION
  </button>

  <button class="button button-secondary" (click)="subscribeForNotificationServer()">
    Subscribe to Notification server
  </button>
  <ul>
    <li *ngFor="let list of apiData"><h2>{{list.employee_name}}</h2></li>
  </ul>
</div>